button {
    font: inherit;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 0.25rem 1rem;
    color: white;
    border: 0;
    cursor: pointer;
    margin: 0.5rem 1rem 1rem 0;
    outline: none;
}

button:hover {
    background-color: var(--main-color-lighter);
}

button.small {
    float: right;
}