.form-container {
    padding: 1rem;
    padding-bottom: 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid var(--main-color-light);
    padding: 0.15rem;
    margin-bottom: 0.5rem;
}