.user-detail-container {
    padding: 1rem;
}

.user-detail {
    border: 1px solid var(--main-color-light);
    padding: 0.15rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    list-style-type: none;
}

.user-detail:last-of-type {
    margin-bottom: 0;
}