.overlay-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.333);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.overlay-container h2 {
    background-color: var(--main-color);
    color: white;
    margin-top: 0;
    padding: 1rem;
}

.overlay-container p {
    margin-left: 1rem;
}